In [11]:
from surprise import SVD,KNNBasic,BaselineOnly
from surprise import Dataset,Reader
from surprise.model_selection import cross_validate, train_test_split
from surprise import accuracy
import pandas as pd
import numpy as np
import json
from ast import literal_eval
from tqdm import tqdm
import matplotlib.pyplot as plt

In [4]:
user_item_rating = pd.read_csv('BI_rec_sys/data//processed_user_data_rating.csv')
user_item_rating

,Unnamed: 0,user,item,playtime,playtime_log,rating,rating_norm
0,0,76561197970982479,10,6,1.791759,-0.939162,3.660500
1,2,76561197970982479,30,7,1.945910,-0.577758,3.922164
2,8,76561197970982479,300,4733,8.462315,1.597444,5.497058
3,9,76561197970982479,240,1853,7.524561,0.600656,4.775361
4,10,76561197970982479,3830,333,5.808142,0.451467,4.667345
...,...,...,...,...,...,...,...
1485712,5093507,76561198312638244,286690,47,3.850148,-1.046429,3.582836
1485713,5093508,76561198312638244,238010,284,5.648974,-0.057251,4.299023
1485714,5093509,76561198312638244,730,23,3.135494,-3.018409,2.155080
1485715,5093511,76561198312638244,362890,2184,7.688913,1.434890,5.379365
1485716,5093514,76561198312638244,379720,1178,7.071573,0.673791,4.828313

In [5]:
reader = Reader(rating_scale=(0,10))
data = Dataset.load_from_df(user_item_rating[['user','item','rating_norm']],reader=reader)
train,test = train_test_split(data,test_size=0.2,random_state=2023)

In [21]:
algo = SVD()
algo.fit(train)

In [22]:
prediction = algo.test(test)
print(prediction[:5])

[Prediction(uid='76561198092638474', iid=202090, r_ui=4.461209092631053, est=10, details={'was_impossible': False}), Prediction(uid='InTranze', iid=385200, r_ui=4.5814086041253, est=10, details={'was_impossible': False}), Prediction(uid='76561198084694331', iid=32330, r_ui=4.651673127959241, est=10, details={'was_impossible': False}), Prediction(uid='crownnovacrown', iid=31280, r_ui=4.200940835976559, est=10, details={'was_impossible': False}), Prediction(uid='turbogranny', iid=220440, r_ui=4.819924145069099, est=10, details={'was_impossible': False})]

In [23]:
accuracy.rmse(prediction)

RMSE: 5.7035

5.70353744898748