In [16]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import linear_kernel,cosine_similarity
from datetime import datetime

In [43]:
data = pd.read_csv('data/processed_item_data.csv')
data = data.iloc[:,1:]
data.tail(10)

,id,release_date_feature,0,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,p_type,multiplay,app_name
27598,80,3.420089,1,0,0,0,0,0,0,-1,...,1,0,0,0,0,0,-1,1,1,Counter-Strike: Condition Zero
27599,767010,-0.789119,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Agent X: Equation Rider
27600,761480,-0.789119,-1,1,0,1,0,0,0,1,...,0,1,0,-1,0,0,0,0,0,Snail Trek - Chapter 3: Lettuce Be
27601,767590,-0.789951,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,Raining blocks
27602,747320,-0.789951,-1,0,0,0,0,1,0,0,...,0,0,0,0,-1,0,0,0,0,Bravium
27603,745400,-0.789951,0,0,0,0,0,0,-1,0,...,0,1,0,0,0,0,0,0,0,Kebab it Up!
27604,773640,-0.789951,0,0,0,0,0,0,0,0,...,0,-1,0,0,0,0,-2,0,0,Colony On Mars
27605,733530,-0.789951,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-2,0,0,LOGistICAL: South Africa
27606,610660,-0.789951,0,0,0,0,0,0,0,0,...,0,-1,0,0,1,0,0,0,0,Russian Roads
27607,658870,-0.686719,-2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,EXIT 2 - Directions

In [28]:
scaler = StandardScaler()
numeric_features=scaler.fit_transform(data.iloc[:,1:24])

In [19]:
id_map = {}
id_rmap = {}
for i in range(len(data)):
    id_map[i] = data.iloc[i,0]
    id_rmap[data.iloc[i,0]] = i

In [39]:
cosine_sim = cosine_similarity(numeric_features, numeric_features)

In [52]:
def get_recommendations(id):
    idx = data[data['id'] == id].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    #sim_scores = sim_scores[1:4]  # Exclude the item itself and get top 3
    item_indices = [i[0] for i in sim_scores[:4]]
    return data['app_name'].iloc[item_indices],sim_scores

In [53]:
idx = 80
get_recommendations(idx)[0]

27598     Counter-Strike: Condition Zero
26549                        Thief™ Gold
263              Kingpin — Life of Crime
104      Tom Clancy's Rainbow Six® Vegas
Name: app_name, dtype: object

In [46]:
data[data['id']==idx]

,id,release_date_feature,0,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,p_type,multiplay,app_name
27598,80,3.420089,1,0,0,0,0,0,0,-1,...,1,0,0,0,0,0,-1,1,1,Counter-Strike: Condition Zero

In [24]:
cosine_sim[8][10]

0.40874984672201603